<html>

<head>
    <title>More Details</title>
</head>

<body>
    <h1>Details</h1>
    <p>Image URL: <%= result.images[0].url %>
    </p>
    <p>Description: <%= result.description %>
    </p>
</body>

</html>