<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Description</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../assets/img/logo.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo" style="display: flex; align-items: center">
          <a
            href="index.html"
            style="display: flex; align-items: center; text-decoration: none"
          >
            <img
              src="../assets/img/logo.png"
              alt="Ram Creations Logo"
              style="max-width: 100%; height: auto"
            />
            <h3 style="color: red; margin-left: 10px; margin-top: 5px">
              Ram Creations
            </h3>
          </a>
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About Us</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li>
              <a class="nav-link scrollto" href="#pricing">Our Offerings</a>
            </li>

            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>
    <!-- End Header -->

  
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div class="swiper-slide">
                    <img src="/assets/img/portfolio/portfolio-1.jpg" alt="" />
                  </div>

                  <div class="swiper-slide">
                    <img src="/assets/img/portfolio/portfolio-2.jpg" alt="" />
                  </div>

                  <div class="swiper-slide">
                    <img src="/assets/img/portfolio/portfolio-3.jpg" alt="" />
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                 <div class="card">
        <div class="card-header">
            <h2>Crest Photography</h2>
          
            
            <div class="price">
                ₹ 22,000
            </div>
           
            <div class="duration">
              <a href="href="index.ejs#contact">
                For 1 Day of Shoot
                <br/>
                <span style="color: red;">(Contact Us for Full Pricelist)</span> 
              </a>
            </div>
        </div>
        <div class="card-actions">
            <button id="sendEnquiry" class="btn enquiry">Send Enquiry</button>
            <button class="btn call">Call/Chat</button>
        </div>
    </div>
              </div>
              <div class="portfolio-description">
                <h2>This is an example of portfolio detail</h2>
                <p>
                  Autem ipsum nam porro corporis rerum. Quis eos dolorem eos
                  itaque inventore commodi labore quia quia. Exercitationem
                  repudiandae officiis neque suscipit non officia eaque itaque
                  enim. Voluptatem officia accusantium nesciunt est omnis
                  tempora consectetur dignissimos. Sequi nulla at esse enim cum
                  deserunt eius.
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </section>
      <!-- End Portfolio Details Section -->

    
      

      <!-- Packages Start -->
      <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
          <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
              Packages
            </h6>
            <h1>Affordable Packages</h1>
          </div>
          <div class="row">
            <% if (data && data.length> 0) { %> <% data.forEach(data=> { %>
            <div class="col-lg-4 col-md-6 mb-4 shadow">
              <div class="package-item bg-white position-relative">
                <img
                  class="img-fluid w-100"
                  src="<%= data.link %>"
                  alt=""
                  style="height: 200px; object-fit: cover"
                />
                <div class="p-4 text-light">
                  <div class="mt-0 pt-0">
                    <div class="d-flex justify-content-between">
                      <h6 class="m-0">
                        <i
                          class="fa fa-star"
                          style="color: rgb(240, 78, 14)"
                        ></i>
                        <span style="color: black"> <%= data.theme %> </span>
                      </h6>
                      <h5 class="m-0">
                        <span style="color: black">₹<%= data.amount %></span>
                      </h5>
                    </div>
                  </div>
                  <!-- Delete button -->
                </div>
              </div>
            </div>
            <% }) %> <% } else { %>
            <h2 class="text-center">No data available</h2>
            <% } %>
          </div>
        </div>
      </div>
      <!-- Packages End -->
      <form id="contactForm">
      <div id="enquiryModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Send Enquiry</h2>
          
          <p style="text-align: center;">Fill this form and we will contact you shortly.</p>
          
          <input type="text" required  name="name" id="name" placeholder="Enter your name">
          <input type="number" required name="number" id="phone" placeholder="Enter your mobile number">
          
          <textarea id="message"  name="message" placeholder="Message">Hello, I would like to know more about the packages and services. Looking forward to hearing from you soon.</textarea>
         
          <button type="submit" id="submitEnquiry" class="btn submit-enquiry">Send Enquiry</button>
        </div>
      </div>
    </form>

      <div>
        <iframe src="https://www.youtube.com/embed/aFnXjlkPwfc" height="300px" width="450" allowfullscreen></iframe>
    </div>

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" >
      <div class="footer-top">
        <div class="container">
          <div
            class="footer-links"
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
            "
          >
            <h2>Our Social Networks</h2>

            <h4>Connect with us from our Social Media Links</h4>

            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/ramcreationphotography12?igsh=MzNlNGNkZWQ4Mg==" target= "_blank" "instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://youtube.com/@ramcreationbilaspur9392?si=i9vptm2pXtcXBPtg" target= "_blank"  class="google-plus"><i class="bx bxl-youtube"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>


    <script>
      // Get the modal
      var modal = document.getElementById('enquiryModal');
      
      // Get the button that opens the modal
      var btn = document.getElementById('sendEnquiry');
      
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      
      // When the user clicks on the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }
      
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
      </script>
      

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
